 * {
     margin: 0;
     padding: 0;
 }
 .naviagtion {
     height: 95px;
     display: flex;
     justify-content: space-between;
     background-color: black;
     align-items: center;
 }
.left{
    color: white;
}

.holder{
    
      width: 156px;
  padding: 6px;
  font-size: 15px;
  border: none;
  border-radius: 24px;
  margin-inline: 6px;
}
 .btn {
    width: 151px;
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 17px;
  margin-inline: 14px;
        
 }

 .content {
     height: 75px;
     width: 555px;
     margin: auto;
     background-color: aqua;
 }


 .footer {
     height: 50px;

     background-color: blanchedalmond;
 }