 * {
     margin: 0;
     padding: 0;
 }

 .naviagtion {

     display: flex;
     justify-content: space-between;
     font: 1em sans-serif;
     align-items: center;
     margin-left: 142px;
     margin-right: 142px;
     height: 133px;
     margin-top: 16px;

 }

 .nav-left {
     color: rgb(15, 13, 13);
     font-size: 43px;
     display: flex;
     margin-left: 86px;
 }

 .nav-left ul {
     font-size: 18px;
     display: flex;
     list-style: none;

 }

 .nav-left ul li a {
     text-decoration: none;
     color: rgb(14, 12, 12);
     margin: 0 14px;

 }

 .holder {

     width: 156px;
     padding: 6px;
     font-size: 15px;
     border: none;
     border-radius: 24px;
     margin-inline: 6px;
     background-color: #6f6767;
     color: white;
 }

 .btn {
     width: 151px;
     padding: 6px;
     font-size: 16px;
     border: none;
     border-radius: 17px;
     margin-inline: 14px;
     background-color: #c1b5b5;
     color: rgb(43, 39, 39);
     cursor: pointer;
     transition: all 0.3s ease-in-out;

 }
 .btn:hover{
    color: #6b2b2b;
    background-color: #f65656;
    
 }


 .content {
     height: 432px;
     width: 74%;
     background-color: rgba(74, 150, 208, 0.63);
     margin-left: 280px;
     display: flex;


 }

 .content-left {
     font-family: Arial, Helvetica, sans-serif;
     width: 91%;
     display: flex;

     justify-content: center;
     flex-direction: column;


 }

 .content-left p {
     margin-top: 48px;
 }

 .content-right {
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .content-right img {

     height: 412px;
     width: 393px;
     margin-left: 1px;
     border: 2px solid;
     border-radius: 217px;
 }


 .footer {
     height: 50px;

 }